<header class="w-full py-2 px-2 bg-purple-500 ">
  <h1 class="text-xl font-medium text-white">TO-DO List</h1>
</header>

<main>
  <section>
    <div class="flex flex-col p-2 gap-2 md:flex-row md:items-center">
      <input
        type="text"
        class="border max-w-sm h-12 px-4 text-2xl text-teal-600 outline-0 shadow-sm md:flex-1"
        placeholder="new task"
        [(ngModel)]="task"
      >
      <button class="border h-12 bg-purple-600 hover:bg-purple-700 active:bg-purple-900 text-lg text-yellow-300 font-medium rounded-md md:w-32">
        Add task
      </button>
      <p class="hidden text-3xl text-sky-900 border-b h-12 px-2 uppercase md:block ">{{task}}</p>
    </div>
  </section>
</main>


