<header class="w-full py-2 px-2  bg-purple-500 ">
  <h1 class="text-xl font-medium text-white">TO-DO List</h1>
</header>

<main>
  <section class="mb-10 mt-10">
    <div class="flex flex-wrap p-2 gap-3 md:flex-row md:items-center md:pl-10">
      <input
        type="text"
        class="border max-w-sm h-12 px-4 py-2 text-2xl text-teal-600 outline-0 shadow hover:shadow-lg md:flex-1"
        placeholder="new task"
        [formControl]="task"
      >
      <button class="border w-80 h-12 bg-purple-600 hover:bg-purple-700 active:bg-purple-900 text-lg text-yellow-300 font-medium rounded-md md:w-48">
        Add task
      </button>
      <p class="hidden text-3xl text-sky-900 border-b h-12 px-2 uppercase md:block ">{{showTask}}</p>
    </div>
  </section>

  <section class=" h-auto max-w-lg m-auto flex flex-col items-center md:max-w-none md:flex-row justify-around">

    <section class="border mb-4 w-11/12 md:w-44 lg:w-80">
      <h2 class="p-2 text-xl font-medium text-yellow-300 bg-pink-500">Task list</h2>
      <div class=" h-60 lg:h-96 bg-white"></div>
    </section>

    <section class="border mb-4 w-11/12 md:w-44 lg:w-80 " >
      <h2 class="p-2 text-xl font-medium text-yellow-300 bg-pink-500">Proccess</h2>
      <div class=" h-60 lg:h-96 bg-white"></div>
    </section>

    <section class="border mb-4 w-11/12 md:w-44 lg:w-80 ">
      <h2 class="p-2 text-xl font-medium text-yellow-300 bg-pink-500">Pending</h2>
      <div class=" h-60 lg:h-96 bg-white"></div>
    </section>

    <section class="border mb-4 w-11/12 md:w-44 lg:w-80">
      <h2 class="p-2 text-xl font-medium text-yellow-300 bg-pink-500">Finalize</h2>
      <div class=" h-60 lg:h-96 bg-white"></div>
    </section>

  </section>
</main>


